{include 'missingA.latte'}
{import 'missingB.latte'}
{embed 'missingC.latte'}{/embed}
{sandbox 'missingD.latte'}
{include blk from 'missingE.latte'}
{include foot from 'layout.latte'}
{include nope from 'imports.latte'}
